@import "tailwindcss";

@theme {
  --color-sky-50: #d9f0ff;
  --color-sky-100: #c3e4fe;
  --color-sky-200: #a3d4fd;
  --color-sky-300: #5cbdfc;
  --color-sky-400: #2aa3f8;
  --color-sky-500: #0b8edc;
  --color-sky-600: #026baa;
  --color-sky-700: #015a89;
  --color-sky-800: #054b6e;
  --color-sky-900: #083857;
  --color-sky-950: #062338;
  --color-orange-100: #f8d5c7;
  --color-orange-200: #f1ac9a;
  --color-orange-300: #ea836d;
  --color-orange-400: #e35a40;
  --color-orange-500: #d77a61;
  --color-orange-600: #c45b3f;
  --color-orange-700: #b23a1b;
  --color-orange-800: #d18829;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --dark-bg-start-rgb: 8, 47, 73; /* Dark sky (bg-sky-950) */
  --dark-bg-end-rgb: 8, 47, 73; /* Dark sky (bg-sky-950) */
  --dark-foreground-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: var(--dark-foreground-rgb);
    --background-start-rgb: var(--dark-bg-start-rgb);
    --background-end-rgb: var(--dark-bg-end-rgb);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb)); /* Solid background color */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
